.link{
  font-weight: 700;
  padding: 21px;
  display: inline-block;
}

.logo {
  float:right;
}

header{
  position: fixed;
  background: white;
  width: 100%;
  top: 0;
}
.menu{
  padding: 14px 70px;
  overflow: auto;
}
#services{
  background-color: #F17C72;
  text-align: center;
  color: #fff;
  padding: 70px 7px;
}
.box-services{
  display: inline-block;
  width: 30%;
  margin-top: 63px;
}
.text-services{
  font-size: 35px;
  letter-spacing: 2px;
}
footer{
  text-align: center;
  height: 70px;
  background: #373B47;
  color: white;
  padding-top: 7px;
}
.contenido{
  text-align: center;
  font-weight: 7px;
  padding:0 70px; 
}
